/* BODY */

body {
    background-color: #22549E;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
    width: 100%;
    display: flex;
}

.all_page .side_bar {
    width: 20%;
    margin: 20px 0px 20px 20px;
}

.all_page .content {
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 77%;
    margin: 20px;
}


/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
    text-align: center;

}

/* SIDE BAR - LOGO */

a {
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

.side_bar_logo_settings {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.side_bar_logo_text {
    margin-left: 5%;
    font-size: 24px;
    font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
    margin-top: 30%;
}

.side_bar_general {
    display: flex;
    align-items: center;
    margin-left: 10%;
    background-color: white;
    width: 110%;
    border-radius: 20px 0 0 20px;
}

.side_bar_general p a {
    color: #FB6D3A;
}

.side_bar_img {
    margin-left: 5%;
}

.side_bar_text {
    margin-left: 5%;
    font-size: 100%;
}


.side_bar_courses {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
}

.support-img {
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}

.support-img img {
    width: 60%;
    height: 100%;
}

.side_bar_timeTable{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
  }
  
  .side_bar_settings{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
  }
  /*content*/
  p {
    font-family: 'Poppins';
  }
  .add-course-menu{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .plus img{
    width: 6%;
    height: 6%;
    justify-content: center;
  }
  .plus {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 6%;
  }
  .course-type {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
   #left-img {
    width: 4%;
    height: 4%;
    margin-right:10%;
  }
  #right-img{
    width: 4%;
    height: 4%;
    margin-top: 1%;
  }
  .course {
    display: flex;
    background: #FFFFFF;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 3% 5% 3% 5%;
    margin-bottom: 10%;
  }
  .course p{
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;

    color: #0067F5;
    margin-right: 55%;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputDiv label {
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    margin-top: 2%;
    font-family: 'Roboto';
}

.inputDiv input{
    margin-top: 4%;
    max-width: 600px;
    width: 100%;
    outline: none;
    border-top: none;
    border-right: none;
    border-left:  none;
    border-bottom: 1px solid #0067F5
}

#special {
    margin-top: 6%;
}

.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton button{
    margin-top: 5%;
    background: #0078C2;
    border-radius: 14px;
    width: 60%;
    height:40px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
/* or 120% */
}
