/* BODY */

body {
    background-color: #22549E;
    margin: 0;
    padding: 0;
}

h1 {}

/* ----------------------------------------- */

/* ALL PAGE */

.all_page {
    width: 100%;
    display: flex;
}

.all_page .side_bar {
    width: 20%;
    margin: 20px 0px 20px 20px;
}

.all_page .content {
    background-color: white;
    border-radius: 48px;
    height: 700px;
    width: 77%;
    margin: 20px;
}


/* ----------------------------------------- */

/* SIDE BAR */

.side_bar {
    text-align: center;

}

/* SIDE BAR - LOGO */

a {
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

.side_bar_logo_settings {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.side_bar_logo_text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: medium;
}

/* SIDE BAR - LINKS */

.side_bar_links {
    margin-top: 92px;
}

.side_bar_general {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: white;
    width: 310px;
    border-radius: 20px 0 0 20px;
}

.side_bar_general p a {
    color: #FB6D3A;
}

.side_bar_img {
    margin-left: 10px;
}

.side_bar_text {
    margin-left: 10px;
}


.side_bar_courses {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
}

.support-img {
    margin-top: 162px;
    align-items: center;
    justify-content: center;
}

.support-img img {
    width: 190px;
    height: 250px;
}


/* SEARCH INPUT */


/* this is a recreation of twitter search in css */
.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.form {
    --input-text-color: #1b9bee;
    --input-bg-color: #F6F6F5;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #1b9bee;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
}

/* form style */
.form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    width: 1000px;
    height: 37px;
}

/* a fancy bg for showing background and border when focus. */
.fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* label styling */
label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.search,
.close-btn {
    position: absolute;
}

/* styling search-icon */
.search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}

/* svg -- size */
svg {
    width: 17px;
    display: block;
}

/* styling of close button */
.close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
}

/* styling of input */
.input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
    fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
    opacity: 1;
    visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* notification-img-style */

.notification-img {
    margin-left: 10px;
}

/* users-img */

.user-img {
    margin-left: 10px;
}

/* Training sectors */


/* training_sectors_h2 */
.training_sectors_h2 {
    margin-left: 50px;
}

/* training_sectors_images-style */
.training_sectors_images {
    display: flex;
    justify-content: space-evenly;
}

/* training_sectors_images img style */
.training_sectors_images img {
    width: 500px;
    height: 350px;
    background-size: cover;
}

/* our courses */

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: pr;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    margin-top: 25px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 150px;
    width: 126px;
}